In [1]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import sklearn

In [2]:
df = pd.read_csv('iPhone.csv')

In [4]:
df

     Gender  Age  Salary  Purchase Iphone
0      Male   19   19000                0
1      Male   35   20000                0
2    Female   26   43000                0
3    Female   27   57000                0
4      Male   19   76000                0
..      ...  ...     ...              ...
395  Female   46   41000                1
396    Male   51   23000                1
397  Female   50   20000                1
398    Male   36   33000                0
399  Female   49   36000                1

[400 rows x 4 columns]

In [5]:
X = df[['Gender', 'Age', 'Salary']] # or df.iloc(:,:-1)
Y = df.iloc[:,-1]

In [6]:
from sklearn.preprocessing import LabelEncoder 

le = LabelEncoder() 
X.iloc[:,0] = le.fit_transform(X.iloc[:,0])

In [7]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler() 
X= scaler.fit_transform(X)

In [10]:
from sklearn.model_selection import cross_val_score 

def cv_comparions_Classifcation(models ,Y,X,cv):
    cv_df = pd.DataFrame()
    for model in models : 
        acc = cross_val_score(model,X,Y,cv=cv,scoring='accuracy')
        acc_avg = round(acc.mean(),3)
        cv_df[str(model)] = [acc_avg]
        cv_df.index = ['Accuracy']

    return cv_df

In [20]:
from sklearn.linear_model import LogisticRegression 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.naive_bayes import GaussianNB 
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.svm import SVC 
import math 
k = len(X[:,0])
print(k)
k =int(math.sqrt(k))
k = k+1 if k% 2 == 0 else k 
mld_lr = LogisticRegression() 
mld_dt = DecisionTreeClassifier(criterion='entropy')
mld_nv = GaussianNB()
mld_k = KNeighborsClassifier(k) 
mld_svc = SVC(kernel='rbf') 
models = [mld_lr,mld_dt,mld_nv,mld_k,mld_svc]

cv_df = cv_comparions_Classifcation(models ,Y,X,5)

cv_df

400

,LogisticRegression(),DecisionTreeClassifier(criterion='entropy'),GaussianNB(),KNeighborsClassifier(n_neighbors=21),SVC()
Accuracy,0.82,0.788,0.888,0.855,0.9